In [1]:
%run setup.ipynb

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/03 06:05:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/10/03 06:05:38 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
print(spark.sparkContext._conf.get("spark.jars"))

file:///root/.ivy2/jars/io.delta_delta-core_2.12-2.2.0.jar,file:///root/.ivy2/jars/io.delta_delta-storage-2.2.0.jar,file:///root/.ivy2/jars/org.antlr_antlr4-runtime-4.8.jar

In [3]:
%%sparksql
drop database if exists testdb cascade;

24/10/01 17:22:31 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/10/01 17:22:31 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
24/10/01 17:22:32 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
24/10/01 17:22:32 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore kraytor@192.168.254.181
24/10/01 17:22:32 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException
24/10/01 17:22:32 WARN TxnHandler: Cannot perform cleanup since metastore table does not exist

In [4]:
%%sparksql
create database if not exists testdb;

24/10/01 17:22:32 WARN ObjectStore: Failed to get database testdb, returning NoSuchObjectException
24/10/01 17:22:32 WARN ObjectStore: Failed to get database testdb, returning NoSuchObjectException
24/10/01 17:22:32 WARN ObjectStore: Failed to get database testdb, returning NoSuchObjectException

In [5]:
%%sparksql
use testdb;

In [6]:
%%sparksql
drop table if exists first_table;

In [7]:
%%sparksql
create table if not exists testdb.first_table (
    name string,
    age int
) using delta
;

24/10/01 17:22:35 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider delta. Persisting data source table `spark_catalog`.`testdb`.`first_table` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.
24/10/01 17:22:35 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
24/10/01 17:22:35 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
24/10/01 17:22:35 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/10/01 17:22:35 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

In [8]:
%%sparksql
  ALTER TABLE testdb.first_table     SET TBLPROPERTIES (
    'delta.feature.allowColumnDefaults' = 'enabled'
  )

In [9]:
%%sparksql
ALTER TABLE testdb.first_table
alter column age set default 16;

In [10]:
%%sparksql

insert into first_table (name, age) values ("Sean", 31),("Sean2", 3),("Sean3", 55);

In [11]:
%%sparksql

select * from testdb.first_table;

24/10/01 17:22:37 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.