In [1]:
%run setup.ipynb

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/29 18:27:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [12]:
%%sparksql
create database if not exists testdb;

In [13]:
%%sparksql
use testdb;

In [17]:
%%sparksql
create table if not exists first_table (
    id string,
    name string,
    age int
);

24/09/29 18:34:28 WARN ResolveSessionCatalog: A Hive serde table will be created as there is no table provider specified. You can set spark.sql.legacy.createHiveTableByDefault to false so that native data source table will be created instead.

In [18]:
%%sparksql

select * from testdb.first_table;